.display {
  overflow: auto;
  height: 450px ;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

ul{
  margin:0;
  padding:0
}

li {
  cursor:pointer;
  background-color: #98ee99;
  margin: .5em;
  padding: .5em 0;
  height: 1.6em;
  border-radius: 4px;
  list-style-type:none;
  font-size: 25px;
  color: #000;
}

