<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Send to: {{user_finish}}
  </h1>
</div>

<div class="display">
  <ul>
    <li *ngFor="let text of textList">
      {{text}}
    </li>

  </ul>
</div>

<div class="div_margin">

</div>

<table>
  <tr>
    <td class="input_td">
      <input (keypress)="onKeypress($event,input)" #input>
    </td>

    <td class="button_td">
      <button (click)="onClick(input)" class="button_enter">Enter</button>
      <input type="file" class="upload" name="single" ng2FileSelect [uploader]="uploader" (change)="upload()">
      <button (click)="showHistory()" class="button_enter">Chatting History</button>
    </td>
  </tr>
</table>


